<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API documentation</title>
    <script>
      window.API_CONFIG = {
        openapiUrl: "{{ openapi_url | add_slashes | safe }}",
        callbackUrl: "{{ callback_url | add_slashes | safe }}",
      };
    </script>
    {{ include_asset('src/entrypoints/swagger.ts') | indent(4) | safe }}
  </head>

  <body>
    <div id="swagger-ui"></div>
  </body>
</html>
