{%- if browser_session is defined -%}
  {%- set username = browser_session.user.username -%}
{%- elif user_registration is defined -%}
  {%- set username = user_registration.username -%}
{%- endif -%}

Hello {{ username|default("user") }},<br />
<br />
Your email verification code for <strong>{{ instance_domain }}</strong> is:
<strong>{{ authentication_code.code }}</strong><br />
<br />
Instance domain: <strong>{{ instance_domain }}</strong><br />
{%- if branding.server_name != instance_domain %}
Server name: <strong>{{ branding.server_name }}</strong><br />
{%- endif %}
