{% macro form_error_message(error) -%}
  {% if error.kind == "invalid_credentials" %}
    {{ _("mas.errors.invalid_credentials") }}
  {% elif error.kind == "password_mismatch" %}
    {{ _("mas.errors.password_mismatch") }}
  {% elif error.kind == "rate_limit_exceeded" %}
    {{ _("mas.errors.rate_limit_exceeded") }}
  {% elif error.kind == "policy" %}
    {{ _("mas.errors.denied_policy", policy=error.message) }}
  {% elif error.kind == "captcha" %}
    {{ _("mas.errors.captcha") }}
  {% else %}
    {{ error.kind }}
  {% endif %}
{%- endmacro %}
